.features {
  display: flex;
  align-items: center;
  padding: 6rem 0;
  width: 100%;
  min-height: 60vh;
  background-color: var(--ifm-color-emphasis-100);
}

.featureEmoji {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.features h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.features p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--ifm-color-emphasis-700);
}
